*{
  cursor: default;
}

body {
  height : 100%;
  width: 60%;
  position:fixed;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 5px;
  padding-left: 15%;
}

#mygold {
  vertical-align: text-bottom;
}

.top{
  margin-top: 10%;
  width: 100%;
  height: 40%;
  background: lightgrey;
  border-radius: 10px;
    vertical-align: bottom;
    display: table;
    overflow: hidden;

}

.progressbar {
  width: 100%;
  height: 30px;
  background-color: lightgreen;
  padding-top: 0px;
  padding-bottom: 0px;
    border-radius: 5px;
      vertical-align: bottom;
}

.upgrades {
  width: 100%;
  height: 40%;
  background-color: lightgrey;
    border-radius: 10px;
}

.monsterinfo{
  width: 100%;
  background:rgba(255, 255, 255, 0.3);
  padding-left:10px;
  padding-right: 10px;
  vertical-align:top;
  text-align: center;

}

#levels {
  font: Verdana;
  font-size: 22px;
}

#levelinfo{
  display:inline-block;

}

#previouslevel {
  display: inline-block;
  float: left;
  font: Verdana;
  font-size: 22px;
  user-select:none;
  width:30px;
}

.upvalue {
  background-color: rgb(224, 224, 224);
  color: black;
  font-size: 16px;
  font: verdana;
  padding: 10px;
  text-align: center;
}

.pourcentage {
  text-align: center;
  width: 50px;
}

#equipment{
  vertical-align: top;
  text-align: center;
}

#plvlinfo {
  font: verdana;
  font-size: 26px;
}

.descriptif{
  background-color: rgb(224, 224, 224);
  color: black;
  font-size: 14px;
  font-size: 0.6vw;
  font: verdana;
  padding: 10px;
  text-align: center;
}

.bartext{
  text-shadow: 1px 1px black;
}

.buymore {
  background-color: darkgrey;
  font: verdana;
  text-align: center;
  color: white;
  line-height: 50%;
  width: 50px;
  vertical-align: bottom;
  padding-bottom: 0.6em;
}

.uparrow {
    font-size: 24px;
}

.buymore:hover{
  color:black;
  background-color:white;
}

.costup{
  vertical-align: bottom;
}

#floatingtexto {
  text-align: right;
  vertical-align: bottom;
  font-size: 16px;
  font: Verdana;
}



#previouslevel:hover {
  color:white;
  background-color:darkgrey;
}

#nextlevel {
  display: inline-block;
  float:right;
  font: Verdana;
  font-size: 22px;
  user-select:none;
    width:30px;
}

#nextlevel:hover {
  color:white;
  background-color:darkgrey;
}

#uppercontent {
  width: 100%;
  height: 100%;
  max-height: 100%;
  table-layout: fixed;
  white-space: normal;
}

#bottomtable {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

#inventorygrid {
  table-layout: fixed;
  margin-left: 10%;
  border-spacing: 5px;
  border-collapse: separate;
}

#equippeditems {
  table-layout: fixed;
  margin-top: 10px;
  margin-left: 10px;
}

#equippedhead, #equippedsword, #equippedchest, #equippedgloves, #equippedboots {
  background-color: rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.3);
  margin:auto;
}

#centerleft, #centermiddle, #lowermiddle {
  vertical-align: middle;
  text-align: center;
}

#uppermiddle, #centerright {
  vertical-align: bottom;
}

#centerright{

}

.equippeditems {
  width: 83px;
  height: 85px;
}

.gridcell {
  background-color: rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.gridcell .tooltip {
  opacity: 0;
  position: fixed;
  color: white;
  background-color: rgba(0,0,0,.8);
  font-size: 11px;

}

p {
}

.gridcell:hover .tooltip {
  opacity: 1;
  float: right;
}

.tooltip {
  position: absolute;
  left: 100px;
  opacity: 0.6;

}

.itemName {
  font-size: 14px;
  font-weight: bold;
}



#inventory {
  text-align: center;
}

#upgradetable {
  table-layout: fixed;
  height: 90%;
  width: 90%;
  margin-left: 5%;
}

#herotable {
  padding-bottom: 1.2em;
 vertical-align: bottom;
}

#enemytable {
  padding-bottom: 1.2em;
 vertical-align: bottom;
}

#herocat {
  height: 66px;
  width: 67px;
  margin: auto;
  display: block;
}

#concombre {
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
}

.normalItem {
  border : 2px solid grey;
}

.uncommonItem {
  border : 2px solid;
  border-color: rgb(0, 153, 0);
  background-color: rgba(0, 153, 0, 0.5);
}

.rareItem {
  border: 2px solid blue;
  background-color: rgba(0, 0, 255, 0.5);
}

.legArmor {
  background-image: url('placeholders/boots.png');
}

.chestArmor {
  background-image: url('placeholders/chest.png');
}

.gloveArmor {
  background-image: url('placeholders/gloves.png');
}

.helmArmor {
  background-image: url('placeholders/helm.png');
}

.weaponArmor {
  background-image: url('placeholders/weapon.png');
}
